<div class="modal" id="alertDelModal" *ngIf="showDelModalV === true">
  <div class="alertDel">
      <div class="alertDelTitle">Czy na pewno chcesz usunąć firmę {{firmaToDelete.nazwa}}?</div>
      <div class="alertDelButtons">
        <button (click)="delFirma(firmaToDelete)">Tak</button>

        <button (click)="showDelModal(false)">Nie</button>
      </div>
  </div>
</div>

<div class="Box">
  <div class="lista">
    <div class="title">
      Wybierz firmę
    </div>
    <div class="content">
      <label>Znaleziono firm: {{firmy.length}}</label>
      <ul>
        <li *ngFor="let firma of firmy" class="li">
          <div class="liArrowRight" [class.liArrowDown]="firma === selectedFirma"></div>
          <span [class.selected]="firma === selectedFirma" (click)="onSelect(firma)">{{firma.nazwa}} ({{firma.nip}})</span>
          <div *ngIf="firma === selectedFirma">
            <div class="link"><a [routerLink]="['/urzadzenia', firma.idFirmy]">Urządzenia</a></div>
            <div class="link"><a [routerLink]="['/hasla', firma.idFirmy]">Hasła</a></div>
            <div class="link"><button (click)="showDelModal(true, firma)">Usuń firmę</button></div>
            <div class="link"><button (click)="showOrHideBoxAddEdit(true, true, firma)">Edytuj firmę</button></div>
          </div>
        </li>
      </ul>
    </div>
    <button (click)="showOrHideBoxAddEdit(true, false)" class="button">
      Dodaj firmę
    </button>
  </div>
</div>
<div class="box" *ngIf="showBoxAdd === true">
  <app-firma (fimaAdded)="onNewFirma($firma)" (hideMe)="showOrHideBoxAddEdit(false)" [editing]="editingFirma" [firma]="firmaToDelete"></app-firma>
</div>
